@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Be Vietnam", sans-serif;
  background: #fff;
  color: #000;
  font-size: 16px;
  // line-height: 1.5;

  &.noscroll {
    overflow: hidden;
  }
}

a {
  color: #262626;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
}

h1,
h2,
h4 {
  color: $Dark-Blue;
  padding-bottom: $p-btm-small;
}

p {
  color: $Dark-Grayish-Blue;
}

// Breakpoints
$breakpoints: (
  // Phones
    small: 49.9rem,
  // Tablet
    medium: 76.8rem
);

.container {
  width: 1200px;
  margin: 0 auto;
  max-width: 100%;
  overflow: hidden;
}

.grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: center;
  // grid-gap: 3rem;
  @include breakpoint(medium) {
    justify-items: center;
  }
}

.cta {
  font-weight: 700;
  font-size: 1.2rem;
  background: $Bright-Red;
  color: $Vary-Light-Gray;
  border-radius: 5rem;
  padding: 1rem 2.5rem;
  cursor: pointer;

  &:hover {
    opacity: 0.7;
  }

  @include breakpoint(medium) {
    padding: 1rem 1.7rem;
  }
}

.bg-desktop {
  position: relative;
  // max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem;
  overflow: hidden;
}

/* @include breakpoint(medium) {

} */

// Flexbox
.flex {
  display: flex;
  &-jc-sb {
    justify-content: space-between;
  }

  &-jc-c {
    justify-content: center;
  }

  &-ai-c {
    align-items: center;
  }
}

.contain {
  padding-left: 2.4rem;
  padding-right: 2.4rem;
}
