@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam:wght@400;500;700&display=swap");

*,
*::after,
*::before {
  margin: 0;
  padding: 0;

  box-sizing: border-box;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Be Vietnam", sans-serif;
  background: #fff;
  color: #000;
  font-size: 16px;
  line-height: 1.5;
}

a {
  color: #262626;
  text-decoration: none;
}

ul {
  list-style: none;
}

img {
  max-width: 100%;
}

h1,
h2,
h4 {
  color: $Dark-Blue;
  padding-bottom: $p-btm-small;
}

p {
  color: $Dark-Grayish-Blue;
}

.container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem;
}

// Breakpoints
$breakpoints: (
  // Phones
    small: 37.5rem,
  // Tablet
    medium: 76.8rem
);

@mixin breakpoint($size) {
  $breakpoint-value: map-get($breakpoints, $size);

  @media screen and (max-width: $breakpoint-value) {
    @content;
  }
}

.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(40rem, 1fr));
  grid-gap: 1rem;
  @include breakpoint(medium) {
    justify-items: center;
  }
}

.cta {
  font-weight: 700;
  font-size: 1.2rem;
  background: $Bright-Red;
  color: $Vary-Light-Gray;
  border-radius: 5rem;
  padding: 1rem 2.5rem;
}

.bg-desktop {
  position: relative;
  // max-width: 1440px;
  margin: 0 auto;
  padding: 0 2rem;
  overflow: hidden;
}

/* @include breakpoint(medium) {

} */
