.header {
  padding: 7rem 0;
  position: relative;

  &__menu {
    //Mobile menu

    > span {
      display: none;
      width: 2.6rem;
      height: 0.2rem;
      background-color: $Dark-Blue;
      cursor: pointer;

      @include breakpoint(medium) {
        display: block;
      }

      &:not(:last-child) {
        margin-bottom: 0.5rem;
      }
    }
  }
}

.main-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  ul {
    display: flex;
    padding: 0;
    li {
      margin-left: 3rem;
      color: $Dark-Blue;
      font-size: 1.4rem;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

// Visibility
.hide-for-mobile {
  display: none;
}
