.hero {
  margin: 8rem 0;

  &__grid {
    display: flex;
    & > div {
      flex: 1;
    }

    @include breakpoint(small) {
      flex-direction: column-reverse;
    }

  }

  &__content {
    padding-top: 2.5rem;
    @include breakpoint(medium) {
      grid-row: 2 /3;
    }
    h1 {
      font-size: 4.5rem;
    }

    p {
      color: $Dark-Grayish-Blue;
      font-size: 1.4rem;
      padding-bottom: 4.5rem;
    }
  }

  &__img {
    width: 100%;
    img {
      @include breakpoint(medium) {
        grid-row: 1 / 2;
      }
    }
  }
}

.bg-pattern {
  position: absolute;
  bottom: 10%;
  left: 60%;
  z-index: -999;
}
