.hero {
  &__content {
    max-width: 100%;
    @include breakpoint(medium) {
      grid-row: 2 /3;
    }
    h1 {
      color: $Dark-Blue;
      font-size: 4.5rem;
      margin-bottom: 2rem;
      width: 43rem;
    }

    p {
      color: $Dark-Grayish-Blue;
      margin-bottom: 3rem;
      font-size: 1.4rem;
      width: 30rem;
    }
  }

  &__img {
    margin-left: auto;
    @include breakpoint(medium) {
      grid-row: 1 /2;
    }
  }
}
