.hero {
  padding: 8rem 0;
  &__content {
    padding-top: 5rem;
    
    h1 {
      font-size: 4.5rem;

    }

    p {
      color: $Dark-Grayish-Blue;
      font-size: 1.4rem;
      padding-bottom: 4.5rem;
    }
    @include breakpoint(medium) {
      grid-row: 2 /3;
    }
  }

  &__img img {
    display: block;
    width: 100%;
    @include breakpoint(medium) {
      grid-row: 1 / 2;
    }
  }
}

.bg-pattern {
  position: absolute;
  bottom: 10%;
  left: 60%;
  z-index: -999;
}

.flexy {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-content: center;
  align-items: start;
  grid-gap: 12rem;
  @include breakpoint(medium) {
    grid-template-columns: 1fr;
    grid-gap: 0;
  }
}
