.showcase {
  margin-top: 10rem;
  @include breakpoint(medium) {
    margin-top: 0;
  }

  &__grid {
    grid-gap: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include breakpoint(small) {
      grid-template-columns: 1fr;
    }
  }

  &__left {
    padding-right: 10rem;
    @include breakpoint(medium) {
      text-align: center;
      padding-right: 0rem;
    }
    h2 {
      font-size: 4rem;
    }
    p {
      font-size: 1.7rem;
      @include breakpoint(small) {
        padding: 0 2rem;
      }
    }
  }

  &__right {
    max-width: 53rem;
    margin-left: auto;
    @include breakpoint(medium) {
      margin: 0 auto;
    }
  }

  &__content {
    padding-bottom: 5rem;
    display: flex;
    align-items: center;

    @include breakpoint(small) {
      padding-left: 2rem;
      
    }

    & > div {
      flex-direction: column;
    }

    span {
      align-self: start;
      background: $Bright-Red;
      color: $Vary-Light-Gray;
      margin-right: 3rem;
      border-radius: 5rem;
      padding: 1rem 2.5rem;
      @include breakpoint(small) {
        margin-right: 0rem;
        z-index: 1;
      }
    }

    h4 {
      font-size: 1.8rem;
      @include breakpoint(small) {
        background: $Very-Pale-Red;
        padding-left: 2rem;
        padding: 1rem 2.5rem;
        font-size: 1.6rem;

        margin-left: -1.5rem;
        z-index: 0;
      }
    }

    p {
      grid-column: 2 / 3;
    }
  }
}
