.showcase {
  margin-top: 10rem;
  padding: 0 3rem;
  @include breakpoint(medium) {
    margin-top: 0;
  }

  &__grid {
    grid-gap: 5rem;
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include breakpoint(small) {
      grid-template-columns: 1fr;
    }
  }

  &__left {
    padding-right: 10rem;
    @include breakpoint(medium) {
      text-align: center;
      padding-right: 0rem;
    }
    h2 {
      font-size: 4rem;
    }
    p {
      font-size: 1.7rem;
      @include breakpoint(small) {
        padding: 0 2rem;
      }
    }
  }

  &__right {
    max-width: 53rem;
    margin-left: auto;
    @include breakpoint(medium) {
      margin: 0 auto;
    }
  }

  &__content {
    padding-bottom: 5rem;
    display: flex;
    align-items: center;

    @include breakpoint(small) {
      padding-left: 2rem;
    }

    & > div {
      flex-direction: column;
    }
  }

  &__contents {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: 1fr 2fr;
    padding-bottom: 3rem;

    @include breakpoint(small) {
      grid-template-columns: 0fr;
      align-items: center;
      padding-left: 1rem;
    }

    .title {
      @include breakpoint(small) {
        background: $Very-Pale-Red;
        padding: 1rem;
        padding-right: 2rem;
        margin-left: -5rem;
        width: 135%;
        z-index: -1;
        overflow-x: hidden;
      }
    }
    h4 {
      font-size: 1.8rem;
      padding-bottom: 0rem;
      @include breakpoint(small) {
        padding-left: 2rem;
        font-size: 1.6rem;
      }
    }

    p {
      grid-column: 2 / 3;
      @include breakpoint(small) {
        grid-column: 1 / 3;
      }
    }
  }
  &__new {
    align-self: start;
    background: $Bright-Red;
    color: $Vary-Light-Gray;
    margin-right: 3rem;
    border-radius: 5rem;
    padding: 1rem 2.5rem;
    @include breakpoint(small) {
      align-self: center;
    }
  }
}
